* {
  margin: 0px;
}

.navBar {
  display: flex;
  justify-content: space-between;
  background-color: #87CEEB;
  height: 2.5rem;
}
.navBar img {
  height: 2.5rem;
}
.navBar nav {
  display: flex;
  width: 45%;
}
.navBar nav a {
  text-decoration: none;
  background-color: #99FF99;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
.navBar nav a:hover {
  background-color: white;
  transition: 1s;
}

.heroBanner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  opacity: 0.8;
  background-image: url("../images/hero_banner_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.heroBanner p {
  text-align: center;
  font-size: larger;
  font-weight: bolder;
  font-family: Georgia, "Times New Roman", Times, serif;
}

main {
  padding: 2rem 0rem 2rem 0rem;
  background-color: #87CEEB;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
main a {
  -webkit-transition: scale 1s;
  border-radius: 20px;
  border: solid 1px;
  text-decoration: none;
  color: black;
  height: 50vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  width: 25%;
  margin: 1rem;
  box-shadow: 5px 5px 10px;
}
main a h2 {
  background-color: #99FF99;
  padding: 0.5rem;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
main a p {
  background-color: #87CEEB;
  padding: 0.5rem;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
main a:hover {
  scale: 1.1;
  transition: 1s;
}
main a:nth-child(1) {
  background-image: url("../images/poersonale.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
main a:nth-child(2) {
  background-image: url("../images/kalender.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
main a:nth-child(3) {
  background-image: url("../images/kort.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.wrapper {
  width: 95vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 125vh;
}
.wrapper div {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5vh;
  margin-top: 1rem;
}
.wrapper section {
  display: flex;
  justify-content: space-evenly;
}
.wrapper section article {
  margin: 2rem;
  background-color: #99FF99;
  padding: 1.5rem;
}
.wrapper #map {
  height: 100vh;
  margin: 2rem;
}

.personaleWrapper {
  display: flex;
  margin: 2.5rem 0rem 2.5rem 0rem;
  justify-content: space-evenly;
}
.personaleWrapper article {
  -webkit-transition: scale 1s;
  width: 25%;
  text-align: center;
  color: white;
}
.personaleWrapper article img {
  width: 100%;
  margin-bottom: 1rem;
}
.personaleWrapper article:hover {
  scale: 1.1;
  transition: 1s;
}

.bestilWrapper {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 50vw;
}
.bestilWrapper article {
  display: flex;
  width: 60vw;
  color: white;
  gap: 5vw;
}
.bestilWrapper article p {
  font-size: larger;
}
.bestilWrapper article #telefontider {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bestilWrapper article #telefontider div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 30vh;
}
.bestilWrapper article #telefontider div ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 25vh;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  background-color: lightgray;
}
footer p {
  text-align: center;
}

.leaflet-right, .leaflet-left {
  display: none !important;
}/*# sourceMappingURL=style.css.map */