@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.navBar {
  display: flex;
  justify-content: space-between;
  background-color: #87CEEB;
  height: 5vh;
}
.navBar .toggle-button {
  display: none;
  position: absolute;
  top: 5px;
  right: 5px;
}
.navBar img {
  height: 5vh;
}
.navBar nav {
  display: flex;
  width: 45%;
}
.navBar nav a {
  text-decoration: none;
  background-color: #99FF99;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  font-family: "Bebas Neue", sans-serif;
  font-size: larger;
}
.navBar nav a:hover {
  background-color: white;
  transition: 1s;
}

.slideshow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  overflow: hidden;
  position: relative;
  margin: auto;
}

main {
  padding: 2rem 0rem 2rem 0rem;
  background-color: #87CEEB;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
main a {
  -webkit-transition: scale 1s;
  border-radius: 20px;
  border: solid 1px;
  text-decoration: none;
  color: black;
  height: 50vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  width: 25%;
  margin: 1rem;
  box-shadow: 5px 5px 10px;
}
main a h2 {
  background-color: #99FF99;
  padding: 0.5rem;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
main a p {
  background-color: #87CEEB;
  padding: 0.5rem;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
main a:hover {
  scale: 1.1;
  transition: 1s;
}
main a:nth-child(1) {
  background-image: url("../images/poersonale.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
main a:nth-child(2) {
  background-image: url("../images/kalender.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
main a:nth-child(3) {
  background-image: url("../images/kort.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.wrapper {
  width: 95vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 125vh;
}
.wrapper div {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5vh;
  margin-top: 1rem;
}
.wrapper section {
  display: flex;
  justify-content: space-evenly;
}
.wrapper section article {
  margin: 2rem;
  background-color: #99FF99;
  padding: 1.5rem;
}
.wrapper #map {
  height: 100vh;
  margin: 2rem;
}

.personaleWrapper {
  min-height: 80vh;
  height: auto;
  display: flex;
  margin: 2.5rem 0rem 2.5rem 0rem;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
}
.personaleWrapper article {
  -webkit-transition: scale 1s;
  width: 25%;
  text-align: center;
  color: white;
}
.personaleWrapper article img {
  width: 100%;
  margin-bottom: 1rem;
}
.personaleWrapper article:hover {
  scale: 1.1;
  transition: 1s;
}

.bestilWrapper {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 50vw;
}
.bestilWrapper article {
  display: flex;
  width: 60vw;
  color: white;
  gap: 5vw;
}
.bestilWrapper article p {
  font-size: larger;
}
.bestilWrapper article #telefontider {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bestilWrapper article #telefontider div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 30vh;
}
.bestilWrapper article #telefontider div ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 25vh;
}
.bestilWrapper article #formtider {
  gap: 2vh;
}
.bestilWrapper article #formtider form {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.bestilWrapper article #formtider form input {
  border-radius: 0.5rem;
}
.bestilWrapper article #formtider form button {
  margin-top: 1rem;
}

footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  height: 7vh;
  background-color: lightgray;
}
footer img {
  height: 5vh;
  position: absolute;
  left: 0.5rem;
}

.leaflet-right, .leaflet-left {
  display: none !important;
}

.flex-class {
  display: flex;
}

@media only screen and (max-width: 992px) {
  .slideshow-container {
    height: auto;
  }
  main {
    flex-wrap: wrap;
  }
  main a {
    width: 40%;
  }
  .personaleWrapper {
    flex-wrap: wrap;
  }
  .personaleWrapper article {
    width: 55%;
  }
  .bestilWrapper {
    justify-content: space-between;
  }
  .bestilWrapper article {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 768px) {
  main a {
    width: 50%;
  }
  .menu {
    display: none !important;
    animation-name: slide;
    animation-duration: 1.5s;
    transition: translateX(100%);
  }
  .toggle-button {
    display: block !important;
  }
  /* Vertical menu styles */
  .menu.show-menu {
    z-index: 9999;
    position: absolute;
    right: 0;
    top: 35px;
    display: block !important;
  }
}
body {
  font-family: Verdana, sans-serif;
}

.mySlides {
  display: none;
}

img {
  vertical-align: middle;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.slide-in {
  animation-name: slide-in;
  animation-duration: 3s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes slide {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}/*# sourceMappingURL=style.css.map */